{#-
SQL UPDATE

Usage:
  tmplrun.py sql update [ --schema=SCHEMA ] --table=TABLE --columns=COLUMNS
  tmplrun.py sql update (-h | --help)

Options:
  -h --help           Show this screen.
  --schema=SCHEMA     The name of the table schema. Optional.
  --table=TABLE       The name of the table.
  --columns=COLUMNS   A comma separated list of the columns in a table.
-#}
{% set vars = namespace() %}
{% set vars.schema = args["--schema"] %}
{% set vars.table = args["--table"] %}
{% set vars.columns = args["--columns"].split(",") %}
{% if vars.schema %}
    {% set vars.tablename = vars.schema + "." + vars.table %}
{% else %}
    {% set vars.tablename = vars.table %}
{% endif %}
{#- generate UPDATE statement -#}
update tgt
{% for column in vars.columns %}
    {% if loop.first %}   set{% else %}     ,{% endif %} tgt.{{ column }} = src.{{ column }}
{% endfor %}
  from {{ vars.tablename }} as tgt
  join #{{ vars.table }} as src
    on tgt.id = src.id  -- change me!
